<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>New Event of your interest!</h1>
    <p>
      There is this new event called <%= @event.name %> in <%= @event.city_name %> that matches your search filters <a href='<%= @url %>'>here</a></div>
    </p>

    <p>The Ceetup team.</p>
  </body>
</html>